language = zh
mwisendtype = fsk
[15206]
cid_number = 15206
extension = 15206
account_type = FXS
dahdichan = 5
mailbox = 15206
hasvoicemail = yes
context = from-internal
vmsecret = 3202187
skip_vmsecret = no
auto_record = no
faxdetect = no
fax_gateway = no
bypass_outrt_auth = yes
permission = internal
callwaiting = no
sharpissendkey = yes
rxgain = 0.0
txgain = 0.0
flash = 750
rxflash_min = 200
rxflash = 1250
answeronpolarityswitch = yes
hanguponpolarityswitch = yes
cidsignalling = bell
echocancel = yes
threewaycalling = yes
sendcalleridafter = 1
out_of_service = no
cfu_timetype = 0
cfn_timetype = 0
cfb_timetype = 0
mohsuggest = default
cc_agent_policy = never
cc_monitor_policy = never
ccbs_available_timer = 4800
ccnr_available_timer = 7200
cc_offer_timer = 60
cc_max_agents = 1
cc_max_monitors = 2
en_ringboth = no
ringboth_timetype = 0
skip_auth_timetype = 0
enable_ldap = yes
dnd = no
dnd_timetype = 0
enable_seamless_transfer = no
seamless_transfer_permission = internal
use_callee_dod_on_fwd_rb = no
use_callee_dod_on_fm = no
signalling = auto
