[1]
active=yes
alarms=OK
description=(0 ports)
name=gFXO
manufacturer=Grandstream Networks Inc
devicetype=
location=SPI Bus 2.1 
basechan=1
totchans=4
irq=0
type=analog
port=1,FXO
port=2,FXO
port=3,FXO
port=4,FXO
[2]
active=yes
alarms=OK
description=(0 ports)
name=gFXS
manufacturer=Grandstream Networks Inc
devicetype=
location=SPI Bus 2.0 
basechan=5
totchans=2
irq=0
type=analog
port=5,FXS
port=6,FXS
