GLOBAL_LANGUAGE = zh
DIAL_OPTIONS = z
FROM_TRUNK_OPTIONS = z
TRUNK_OPTIONS = 
OUT_1 = PJSIP/trunk_1
OUT_AUTORECORD_1 = no
OUTKEEPCID_1 = no
OUTKEEPORGCID_1 = yes
TRUNK_1_NAME = MCM-PEER-TRUNK
TRUNK_1_TYPE = peer
OUT_2 = PJSIP/trunk_2
OUT_AUTORECORD_2 = no
OUTKEEPCID_2 = no
OUTKEEPORGCID_2 = no
TRUNK_2_NAME = Peer101
TRUNK_2_TYPE = peer
OUT_3 = PJSIP/trunk_3
OUT_AUTORECORD_3 = no
OUTKEEPCID_3 = no
OUTKEEPORGCID_3 = no
TRUNK_3_NAME = peer49
TRUNK_3_TYPE = peer
OUT_4 = PJSIP/trunk_4
OUT_AUTORECORD_4 = no
OUTKEEPCID_4 = no
OUTKEEPORGCID_4 = no
TRUNK_4_NAME = peer208
TRUNK_4_TYPE = peer
OUT_5 = PJSIP/trunk_5
OUT_AUTORECORD_5 = no
OUTKEEPCID_5 = yes
OUTKEEPORGCID_5 = no
TRUNK_5_NAME = register115
TRUNK_5_TYPE = register
OUT_CID_5 = <11518>
PAGING_HEADER = Intercom
RINGTIME = 60
RECORD_PROMPT = no
WARNINGTIME = '
ENABLE_486_FAILOVER = no
VM_PRE = *
FOLLOWMEOPTIONS = 
JITTERBUFFER_ENABLE = no
JITTERBUFFER_TYPE = fixed
JITTERBUFFER_PARAM = 100
CONF_SIZE_LIMIT = 25
HAVE_RECORD = 0
EN_DIVERSION = yes
