bindport = 4569
bindaddr = 0.0.0.0
bindaddr6 = [::]
iaxcompat = no
nochecksums = no
delayreject = no
adsi = no
mohinterpret = default
mohsuggest = default
bandwidth = low
maxregexpire = 3600
minregexpire = 60
iaxthreadcount = 10
iaxmaxthreadcount = 100
autokill = yes
authdebug = no
codecpriority = reqonly
trunkfreq = 20
trunktimestamps = no
language = zh
