
[4000]
type = auth
auth_type = userpass
username = 4000
password = gs123456
realm = grandstream

[4002]
type = auth
auth_type = userpass
username = 4002
password = gs123456
realm = grandstream

[4004]
type = auth
auth_type = userpass
username = 4004
password = gs123456
realm = grandstream

[4006]
type = auth
auth_type = userpass
username = 4006
password = gs123456
realm = grandstream

[4008]
type = auth
auth_type = userpass
username = 4008
password = gs123456
realm = grandstream

[4010]
type = auth
auth_type = userpass
username = 4010
password = gs123456
realm = grandstream

[4012]
type = auth
auth_type = userpass
username = 4012
password = gs123456
realm = grandstream

[4014]
type = auth
auth_type = userpass
username = 4014
password = gs123456
realm = grandstream

[4016]
type = auth
auth_type = userpass
username = 4016
password = gs123456
realm = grandstream

[4018]
type = auth
auth_type = userpass
username = 4018
password = gs123456
realm = grandstream

[4020]
type = auth
auth_type = userpass
username = 4020
password = gs123456
realm = grandstream

[4022]
type = auth
auth_type = userpass
username = 4022
password = gs123456
realm = grandstream

[4024]
type = auth
auth_type = userpass
username = 4024
password = gs123456
realm = grandstream

[4026]
type = auth
auth_type = userpass
username = 4026
password = gs123456
realm = grandstream

[4028]
type = auth
auth_type = userpass
username = 4028
password = gs123456
realm = grandstream

[4030]
type = auth
auth_type = userpass
username = 4030
password = gs123456
realm = grandstream

[4032]
type = auth
auth_type = userpass
username = 4032
password = gs123456
realm = grandstream

[4034]
type = auth
auth_type = userpass
username = 4034
password = gs123456
realm = grandstream

[4036]
type = auth
auth_type = userpass
username = 4036
password = gs123456
realm = grandstream

[4038]
type = auth
auth_type = userpass
username = 4038
password = gs123456
realm = grandstream

[4040]
type = auth
auth_type = userpass
username = 4040
password = gs123456
realm = grandstream

[4042]
type = auth
auth_type = userpass
username = 4042
password = gs123456
realm = grandstream

[4044]
type = auth
auth_type = userpass
username = 4044
password = gs123456
realm = grandstream

[4046]
type = auth
auth_type = userpass
username = 4046
password = gs123456
realm = grandstream

[4048]
type = auth
auth_type = userpass
username = 4048
password = gs123456
realm = grandstream

[4050]
type = auth
auth_type = userpass
username = 4050
password = gs123456
realm = grandstream

[4052]
type = auth
auth_type = userpass
username = 4052
password = gs123456
realm = grandstream

[4054]
type = auth
auth_type = userpass
username = 4054
password = gs123456
realm = grandstream

[4056]
type = auth
auth_type = userpass
username = 4056
password = gs123456
realm = grandstream

[4058]
type = auth
auth_type = userpass
username = 4058
password = gs123456
realm = grandstream

[4060]
type = auth
auth_type = userpass
username = 4060
password = gs123456
realm = grandstream

[4062]
type = auth
auth_type = userpass
username = 4062
password = gs123456
realm = grandstream

[4064]
type = auth
auth_type = userpass
username = 4064
password = gs123456
realm = grandstream

[4066]
type = auth
auth_type = userpass
username = 4066
password = gs123456
realm = grandstream

[4068]
type = auth
auth_type = userpass
username = 4068
password = gs123456
realm = grandstream

[4070]
type = auth
auth_type = userpass
username = 4070
password = gs123456
realm = grandstream

[4072]
type = auth
auth_type = userpass
username = 4072
password = gs123456
realm = grandstream

[4074]
type = auth
auth_type = userpass
username = 4074
password = gs123456
realm = grandstream

[4076]
type = auth
auth_type = userpass
username = 4076
password = gs123456
realm = grandstream

[4078]
type = auth
auth_type = userpass
username = 4078
password = gs123456
realm = grandstream

[4080]
type = auth
auth_type = userpass
username = 4080
password = gs123456
realm = grandstream

[4082]
type = auth
auth_type = userpass
username = 4082
password = gs123456
realm = grandstream

[4084]
type = auth
auth_type = userpass
username = 4084
password = gs123456
realm = grandstream

[4086]
type = auth
auth_type = userpass
username = 4086
password = gs123456
realm = grandstream

[4088]
type = auth
auth_type = userpass
username = 4088
password = gs123456
realm = grandstream

[4090]
type = auth
auth_type = userpass
username = 4090
password = gs123456
realm = grandstream

[4092]
type = auth
auth_type = userpass
username = 4092
password = gs123456
realm = grandstream

[4094]
type = auth
auth_type = userpass
username = 4094
password = gs123456
realm = grandstream

[4096]
type = auth
auth_type = userpass
username = 4096
password = gs123456
realm = grandstream

[4098]
type = auth
auth_type = userpass
username = 4098
password = gs123456
realm = grandstream

[4100]
type = auth
auth_type = userpass
username = 4100
password = gs123456
realm = grandstream

[4102]
type = auth
auth_type = userpass
username = 4102
password = gs123456
realm = grandstream

[4104]
type = auth
auth_type = userpass
username = 4104
password = gs123456
realm = grandstream

[4106]
type = auth
auth_type = userpass
username = 4106
password = gs123456
realm = grandstream

[4108]
type = auth
auth_type = userpass
username = 4108
password = gs123456
realm = grandstream

[4110]
type = auth
auth_type = userpass
username = 4110
password = gs123456
realm = grandstream

[4112]
type = auth
auth_type = userpass
username = 4112
password = gs123456
realm = grandstream

[4114]
type = auth
auth_type = userpass
username = 4114
password = gs123456
realm = grandstream

[4116]
type = auth
auth_type = userpass
username = 4116
password = gs123456
realm = grandstream

[4118]
type = auth
auth_type = userpass
username = 4118
password = gs123456
realm = grandstream

[4120]
type = auth
auth_type = userpass
username = 4120
password = gs123456
realm = grandstream

[4122]
type = auth
auth_type = userpass
username = 4122
password = gs123456
realm = grandstream

[4124]
type = auth
auth_type = userpass
username = 4124
password = gs123456
realm = grandstream

[4126]
type = auth
auth_type = userpass
username = 4126
password = gs123456
realm = grandstream

[4128]
type = auth
auth_type = userpass
username = 4128
password = gs123456
realm = grandstream

[4130]
type = auth
auth_type = userpass
username = 4130
password = gs123456
realm = grandstream

[4132]
type = auth
auth_type = userpass
username = 4132
password = gs123456
realm = grandstream

[4134]
type = auth
auth_type = userpass
username = 4134
password = gs123456
realm = grandstream

[4136]
type = auth
auth_type = userpass
username = 4136
password = gs123456
realm = grandstream

[4138]
type = auth
auth_type = userpass
username = 4138
password = gs123456
realm = grandstream

[4140]
type = auth
auth_type = userpass
username = 4140
password = gs123456
realm = grandstream

[4142]
type = auth
auth_type = userpass
username = 4142
password = gs123456
realm = grandstream

[4144]
type = auth
auth_type = userpass
username = 4144
password = gs123456
realm = grandstream

[4146]
type = auth
auth_type = userpass
username = 4146
password = gs123456
realm = grandstream

[4148]
type = auth
auth_type = userpass
username = 4148
password = gs123456
realm = grandstream

[4150]
type = auth
auth_type = userpass
username = 4150
password = gs123456
realm = grandstream

[4152]
type = auth
auth_type = userpass
username = 4152
password = gs123456
realm = grandstream

[4154]
type = auth
auth_type = userpass
username = 4154
password = gs123456
realm = grandstream

[4156]
type = auth
auth_type = userpass
username = 4156
password = gs123456
realm = grandstream

[4158]
type = auth
auth_type = userpass
username = 4158
password = gs123456
realm = grandstream

[4160]
type = auth
auth_type = userpass
username = 4160
password = gs123456
realm = grandstream

[4162]
type = auth
auth_type = userpass
username = 4162
password = gs123456
realm = grandstream

[4164]
type = auth
auth_type = userpass
username = 4164
password = gs123456
realm = grandstream

[4166]
type = auth
auth_type = userpass
username = 4166
password = gs123456
realm = grandstream

[4168]
type = auth
auth_type = userpass
username = 4168
password = gs123456
realm = grandstream

[4170]
type = auth
auth_type = userpass
username = 4170
password = gs123456
realm = grandstream

[4172]
type = auth
auth_type = userpass
username = 4172
password = gs123456
realm = grandstream

[4174]
type = auth
auth_type = userpass
username = 4174
password = gs123456
realm = grandstream

[4176]
type = auth
auth_type = userpass
username = 4176
password = gs123456
realm = grandstream

[4178]
type = auth
auth_type = userpass
username = 4178
password = gs123456
realm = grandstream

[4180]
type = auth
auth_type = userpass
username = 4180
password = gs123456
realm = grandstream

[4182]
type = auth
auth_type = userpass
username = 4182
password = gs123456
realm = grandstream

[4184]
type = auth
auth_type = userpass
username = 4184
password = gs123456
realm = grandstream

[4186]
type = auth
auth_type = userpass
username = 4186
password = gs123456
realm = grandstream

[4188]
type = auth
auth_type = userpass
username = 4188
password = gs123456
realm = grandstream

[4190]
type = auth
auth_type = userpass
username = 4190
password = gs123456
realm = grandstream

[4192]
type = auth
auth_type = userpass
username = 4192
password = gs123456
realm = grandstream

[4194]
type = auth
auth_type = userpass
username = 4194
password = gs123456
realm = grandstream

[4196]
type = auth
auth_type = userpass
username = 4196
password = gs123456
realm = grandstream
