
[4000]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4000
aors = 4000
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4001]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4001
aors = 4001
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4002]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4002
aors = 4002
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4003]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4003
aors = 4003
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4004]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4004
aors = 4004
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4005]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4005
aors = 4005
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4006]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4006
aors = 4006
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4007]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4007
aors = 4007
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4008]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4008
aors = 4008
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4009]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4009
aors = 4009
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4010]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4010
aors = 4010
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4011]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4011
aors = 4011
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4012]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4012
aors = 4012
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4013]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4013
aors = 4013
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4014]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4014
aors = 4014
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4015]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4015
aors = 4015
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4016]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4016
aors = 4016
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4017]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4017
aors = 4017
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4018]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4018
aors = 4018
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh

[4019]
type = endpoint
transport = transport-udp
context = from-internal
disallow = all
allow = ulaw
auth = 4019
aors = 4019
direct_media = no
rtp_symmetric = yes
fax_detect = yes
t38_udptl = yes
t38_udptl_ipv6 = yes
rtp_ipv6 = yes
dtmf_mode = rfc4733
rewrite_contact = yes
direct_media = no
disable_direct_media_on_nat = yes
rtp_timeout = 90
rtp_timeout_hold = 100
rtp_keepalive = 0
moh_suggest = default
trust_id_inbound = no
send_rpid = no
inband_progress = no
allow_transfer = yes
timers_min_se = 90
timers_sess_expires = 1800
timers = yes
100rel = yes
language = zh
