
[global]
debug = yes

[transport-udp]
type = transport
protocol = udp
bind = 0.0.0.0:50600

[transport-tls]
type=transport
protocol=tls
bind=0.0.0.0:50610
cert_file=/opt/asterisk/etc/asterisk/keys/asterisk.crt
priv_key_file=/opt/asterisk/etc/asterisk/keys/asterisk.key
method=tlsv1_2

[transport-tcp]
type=transport
protocol=tcp
bind=0.0.0.0:50600

#include pjsip_endpoint.conf
#include pjsip_aor.conf
#include pjsip_auth.conf

