interface eth0
{
        AdvSendAdvert on;
        AdvManagedFlag off;
        AdvOtherConfigFlag on;
        prefix 2001:db8:2:2::/64 {
               AdvAutonomous on;
               AdvOnLink on;
        };
};
