[threadpool]
;initial_size = 5          ; Initial size of the threadpool.
;                          ; 0 means the threadpool has no threads initially
;                          ; until a task needs a thread.
idle_timeout_sec = 0       ; Number of seconds a thread should be idle before
;                          ; dying. 0 means threads never time out.
;max_size = 50             ; Maximum number of threads in the Stasis threadpool.
;                          ; 0 means no limit to the number of threads in the
;                          ; threadpool.

[declined_message_types]
; This config section contains the names of message types that should be prevented
; from being created. By default, all message types are allowed to be created.
;
; Using this functionality requires knowledge of the names of internal stasis
; message types which is generally the same as the name of the accessor function.
;
; Use of this functionality may break more complex functionality in Asterisk
; such as CEL, CDR, transfers, etc. and will likely cause related messages in ARI
; and AMI to go missing.
decline=ast_channel_varset_type
