format = wav49
attach = yes
maxmsg = 50
saycid = no
sayduration = no
envelope = yes
review = no
maxsecs = 900
minsecs = 3
maxgreet = 60
skipms = 3000
maxsilence = 10
silencethreshold = 128
maxlogins = 3
emaildateformat = %A, %B %d, %Y at %r
pagerdateformat = %A, %B %d, %Y at %r
sendvoicemail = yes
operator = no
exitcontext = default
callback = from-internal
emailsubject = New voicemail FROM ${VM_CALLERID} for ${VM_MAILBOX}
emailbody = Hello ${VM_NAME}, you received a message lasting ${VM_DUR} at ${VM_DATE} FROM, (${VM_CALLERID}). This is message ${VM_MSGNUM} in your voicemail ${VM_FLAG} Inbox.
eastern = America/New_York|'vm-received' Q 'digits/at' IMp
central = America/Chicago|'vm-received' Q 'digits/at' IMp
central24 = America/Chicago|'vm-received' q 'digits/at' H N 'hours'
military = Zulu|'vm-received' q 'digits/at' H N 'hours' 'phonetic/z_p'
european = Europe/Copenhagen|'vm-received' a d b 'digits/at' HM
en_reverse = no
reserve = yes
voicemail_remote_access = no
forward_remote = no
operator_type = account
saydurationm = 0
smtp_tls_enable = yes
smtp_type = client
smtp_domain = example.com
smtp_server = smtp.grandstream.cn
smtp_username = haoliu@grandstream.cn
smtp_password = xlz~13979053187
enable_email_to_fax = no
fromstring = PBX
serveremail = haoliu@grandstream.cn
mail_context_mode = html
enable_auth = yes
switch = no
