# Object files
*.slo
*.lo
*.o
*.o.d

# Libraries
*.lai
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# VIM-related
*.swp
*~

# Auto generate by Compilation
*.exports
*.o_a
config.log
config.status
build.mak

build/cc-auto.mak
build/os-auto.mak
pjlib-util/bin/
pjlib-util/build/os-auto.mak
pjlib/bin/
pjlib/build/os-auto.mak
pjlib/include/pj/compat/m_auto.h
pjlib/include/pj/compat/os_auto.h
pjmedia/bin/
pjmedia/build/os-auto.mak
pjmedia/include/pjmedia-codec/config_auto.h
pjmedia/include/pjmedia/config_auto.h
pjnath/bin/
pjsip-apps/bin/
pjsip/bin/
pjsip/build/os-auto.mak
pjsip/include/pjsip/sip_autoconf.h
third_party/build/os-auto.mak
